<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="components/botones.js"></script>
  <title>SNAKE GAME</title>
</head>
<body>
  <div id="app">
    <div class="main">
      <div class="grid">
        <div v-for="index in 16" class="row">
          <div v-for="index in 16" class="cell">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>


    var v = new Vue(
      {
        el: '#app',
        data: {
        },
        computed: {
        },
        methods: {
        }
      }
    );
  </script>
  <style lang="css">
  .main {
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .grid {
      display: -webkit-flex;
      flex-direction: column;
      justify-content: center;
      border: 2px solid #333;
  }
  .row {
      border-top: 1px solid #e9e9e9;
      display: flex;
  }
  .cell {
    height: 35px;
    width: 35px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background-color: white;
  }
  </style>
</body>
</html>
